body{ 
    background-color: #d1b9ba ;
    
    
}
.apresentacao_input{
    background-color: transparent;
    border-radius: 3px;
    border-width: 1px;
}
.box_submit{
    display: flex;
    align-items: center;
    gap:8px;
}
.apresentacao_input{
    background-color: transparent;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.151);
    padding: 0.3em 0.2em;
    cursor: pointer;
}
.apresentacao_input:hover{
    
    box-shadow: 0px 0.8px 0.8em rgba(0, 0, 0, 0.342);
    background-color: white;

}
#sendtoken_button{
    height: 2em;
    width: 12em;
    font-family: "Krona One", serif;
    background-color: white;
    border-radius: 2em;
    border-width: 0.1em;
}
#sendtoken_button:hover{
    color: white;
    background-color: #E00007;
    border-width: 0;
    box-shadow: 0px 0.8px 0.8em rgba(255, 0, 0, 0.342);
}
#esqc{
    font-family: Arial, Helvetica, sans-serif;
}
#p1{
    font-family: Arial, Helvetica, sans-serif;
    font: 100, Arial, Helvetica, sans-serif ;
    padding: auto;
    text-align: center;
}
#iconeVisibilidade{
    position: absolute;
    height: 1.5em;
    cursor: pointer;
    padding-left: 0.5em;
}