@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
.body{ 
    background-image: url("../imagens/fundo.png");
    background-repeat: repeat;

    
}
.apresentacao{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    box-sizing: border-box;
    gap: 40px;
    width: 500px;
    margin: auto;
    margin-top: 30vh;
    font-family: "Krona One", serif;
    background-color: #ececec;
    padding: 18px 0px;
    border-radius: 16px;
}
#apresentacao_titulo{
    font-family: "Krona One", serif;
    width: 100%;
    text-align: center;
    padding: auto;
    background-color: white;
}
